.BuyAdd-product-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.BuyAdd-product-input {
    width: 350px;
}
.BuyAdd-product-categoryBlock {
    width: 150px;
}